.container {

    position: relative;
    width: 1280px;
    margin: 0 auto;

}

.header {
    width: 1280px;
    height: 323px;
    background-color: #445162;
    float: left;

}

.header h1 {
    width: 400px;
    height: 44px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial", "serif";
    font-size: 60px;
    font-weight: 400;
    margin-left: 50px;
    margin-top: 50px;
    padding-bottom: 10px;
}

.white_box {
    width: 469px;
    height: 214px;
    background-color: #ffffff;
    margin-right: 50px;
    margin-top: 50px;
    float: right;
}


.img_check {
    width: 25px;
    height: 19px;
    margin-left: 50px;
}

.check_text {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial", "serif";
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 10px;
    display: inline;
}

.section_1 {
    float: left;
}

.product_news {
    width: 1280px;
    height: 346px;
    float: left;
}

.section_2 {
    float: left;
}

.product_news h1 {
    width: 254px;
    height: 28px;
    color: #445161;
    font-family: "Arial", "serif";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-left: 50px;
    margin-top: 49px;
}

.product_news p {
    width: 649px;
    height: 63px;
    color: #333333;
    font-family: "Arial", "serif";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 50px;
    margin-top: 30px;
}

.black_box {
    width: 430px;
    height: 245px;
    background-color: #445161;
    margin-right: 50px;
    margin-top: 50px;
    float: right;
}

.plus {
    width: 1280px;
    height: 414px;
    background: #f5f5f5;
    float: left;
}

.plus h1 {
    height: 28px;
    color: #445161;
    font-family: "Arial", "serif";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.section_3 {
    float: left;
    padding-bottom: 35px;
}

.div_plus {

    width: 32px;
    height: 32px;
    float: left;
    margin-top: 5px;

}

.div_text {
    width: 528px;
    height: 63px;
    color: #333333;
    font-family: "Arial", "serif";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    float: left;
    padding-left: 10px;
}

.plusMainSectionLeft {
    margin-left: 50px;
    width: 570px;
    float: left;
}

.plusMainSectionRight {
    margin-right: 73px;
    float: right;
    width: 570px;
}

.screenshots {
    /* Style for "bg" */
    width: 1280px;
    height: 487px;
    float: left;
}

.screenshots h1 {
    /* Style for "Scrinshots" */
    height: 22px;
    color: #445161;
    font-family: "Arial", "serif";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-top: 51px;
    vertical-align: top;
}

.div_h3 {
    /* Style for "The descri" */
    width: 320px;
    height: 23px;
    color: #445161;
    font-family: "Arial", "serif";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 15px;

}

.div_p {
    /* Style for "Pariatur i" */
    width: 361px;
    height: 108px;
    color: #333333;
    font-family: "Arial", "serif";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.black_box_small {
    /* Style for "image" */
    width: 200px;
    height: 150px;
    background-color: #445161;
    float: left;
    margin-top: 5px;
}

.scrMainSectionLeft {
    margin-left: 50px;
    width: 571px;
    float: left;
}

.scrMainSectionRight {
    margin-right: 76px;
    width: 571px;
    float: right;
}

.div_text_scr {
    float: left;
    padding-left: 10px;

}

.review_avatar {
    border-radius: 100%;
}