.header {
    width: 1280px;
    height: 323px;
    background-color: #445162;
    float: left;

}

.header h1 {
    width: 400px;
    height: 44px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial";
    font-size: 60px;
    font-weight: 400; 
    margin-left: 50px; 
    margin-top: 50px;
    padding-bottom: 10px;
}

.white_box {
width: 469px;
height: 214px;
background-color: #ffffff;
margin-right: 50px;
margin-top: 50px;
float: right;

}

.img_check {
width: 25px;
height: 19px;
margin-left: 50px; 




}

.check_text {
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
color: #ffffff;
font-family: "Arial";
font-size: 20px;
font-weight: 400;
line-height: 36px;
padding-left: 10px;
}

.section_1 {
    float: left;
}

.product_news {
    width: 1280px;
height: 2863px;
float: left;
}

.product_news h1 {
    width: 254px;
    height: 28px;
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-left: 50px;
    margin-top: 49px;
}

.product_news p {
    width: 649px;
height: 63px;
color: #333333;
font-family: "Arial";
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-left: 50px;
margin-top: 30px;
}
